@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Global Variables */
:root{
    --green: #7EA16B;
    --gray: #596869;
}

/* Set alternative box model to all elements */
html{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
}

/* Nav Bar */

.navbar-container{
    width: 100%;
    border-bottom: 1px solid var(--gray);
    box-shadow: 0 2px 2px -2px var(--gray);
}

.navbar{
    width: 70%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

a{
    text-decoration: none;
}

.logo{
    font-size: 3.5rem;
    font-weight: 700;

    margin: 0;
    color: var(--green);
}

.search-bar{
    height: 40px;
    width: 300px;
    padding: 10px 20px;

    font-size: 1rem;

    border-radius: 20px;
    border: 1px solid var(--gray);
    box-shadow: 1px 1px 1px var(--gray);
}

.navbar-links{
    display: flex;
    align-items: center;
    gap: 40px;
}

.home-link{
    color: black;

    font-size: 1.25rem;
}

.btn{
    background-color: transparent;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    border: none;
}

.btn:hover{
    cursor: pointer;
}

.notifications-button{
    background-image: url(../images/notif-icon.svg);
}

.profile-button{
    background-image: url(../images/user-icon.svg);
}



/* Main */
.main-container{
    max-width: 50%;
    margin: 15px auto;

    display: flex;
    flex-direction: column;
    align-items: start;
}

/* === Image Slider === */

.img-slider{
    width: 100%;
    height: 700px;
    position: relative;
}

.img-slider > ul{
    margin: 0;
    padding: 0;
}

.img-slider li{
    list-style: none;
}



.img-slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.img-slide > img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.img-slide[data-active]{
    opacity: 1;
}



.slider-button{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    font-size: 3rem;

    top: 40%;
    z-index: 1;
    color: rgb(200, 200, 200);

    cursor: pointer;
    padding: 0 3px;
}

.slider-button:hover,
.slider-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);;
}

.slider-button.prev{
    left: 10px;
}

.slider-button.next{
    right: 10px;
}

/* Host Info */
.host-info{
    display: flex;
    gap: 20px;
    align-items: center;
}

.host-img{
    height: 100px;
    width: 100px;

    background-image: url(../images/profile-picture.jpg);
    background-size: cover;
    background-position: center;

    border-radius: 50%;
}

.host-name{
    font-size: 1.3rem;
    font-weight: 600;
}

.host-time{
    font-size: 1rem;
    font-weight: 400;
}