@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Global Variables */
:root{
    --green: #7EA16B;
    --gray: #596869;
}

/* Set alternative box model to all elements */
html{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
}

/* Nav Bar */

.navbar-container{
    width: 100%;
    border-bottom: 1px solid var(--gray);
    box-shadow: 0 2px 2px -2px var(--gray);
}

.navbar{
    width: 70%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

a{
    text-decoration: none;
}

.logo{
    font-size: 3.5rem;
    font-weight: 700;

    margin: 0;
    color: var(--green);
}

.search-bar{
    height: 40px;
    width: 300px;
    padding: 10px 20px;

    font-size: 1rem;

    border-radius: 20px;
    border: 1px solid var(--gray);
    box-shadow: 1px 1px 1px var(--gray);
}

.navbar-links{
    display: flex;
    align-items: center;
    gap: 40px;
}

.home-link{
    color: black;

    font-size: 1.25rem;
}

.btn{
    background-color: transparent;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    border: none;
}

.btn:hover{
    cursor: pointer;
}

.notifications-button{
    background-image: url(../images/notif-icon.svg);
}

.profile-button{
    background-image: url(../images/user-icon.svg);
}



/* Main */
.main-container{
    width: 70%;
    margin: 15px auto;

    display: flex;
    flex-direction: column;
    align-items: start;
}