@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Global Variables */
:root{
    --green: #7EA16B;
    --gray: #596869;
}

/* Set alternative box model to all elements */
html{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
}

/* Nav Bar */

.navbar-container{
    width: 100%;
    border-bottom: 1px solid var(--gray);
    box-shadow: 0 2px 2px -2px var(--gray);
}

.navbar{
    width: 70%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

a{
    text-decoration: none;
}

.logo{
    font-size: 3.5rem;
    font-weight: 700;

    margin: 0;
    color: var(--green);
}

.search-bar{
    height: 40px;
    width: 300px;
    padding: 10px 20px;

    font-size: 1rem;

    border-radius: 20px;
    border: 1px solid var(--gray);
    box-shadow: 1px 1px 1px var(--gray);
}

.navbar-links{
    display: flex;
    align-items: center;
    gap: 40px;
}

.home-link{
    color: black;

    font-size: 1.25rem;
}

.btn{
    background-color: transparent;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    border: none;
}

.btn:hover{
    cursor: pointer;
}

.notifications-button{
    background-image: url(../images/notif-icon.svg);
}

.profile-button{
    background-image: url(../images/user-icon.svg);
}


.separator{
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:var(--gray);
    height: 1px;
}

/* Main */
.main-container{
    width: 60%;
    margin: 15px auto;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}

/* === Image Slider === */

.img-slider{
    width: 100%;
    height: 700px;
    position: relative;
}

.img-slider > ul{
    margin: 0;
    padding: 0;
}

.img-slider li{
    list-style: none;
}

.img-slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.img-slide > img{
    height: 700px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-slide[data-active]{
    opacity: 1;
}

.slider-button{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    font-size: 3rem;

    top: 40%;
    z-index: 1;
    color: rgb(200, 200, 200);

    cursor: pointer;
    padding: 0 3px;
}

.slider-button:hover,
.slider-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);;
}

.slider-button.prev{
    left: 10px;
}

.slider-button.next{
    right: 10px;
}

/* Host Info */
.house-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-info{
    display: flex;
    gap: 20px;
    align-items: center;
}

.host-img{
    height: 100px;
    width: 100px;

    background-image: url(../images/profile-picture.jpg);
    background-size: cover;
    background-position: center;

    border-radius: 50%;
}

.host-name{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--green);
}

.host-time{
    color: var(--gray);
    font-size: 1rem;
    font-weight: 400;
}

.house-characteristics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
}

.characteristic-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
}

.characteristic-icon{
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-size: cover;
}

.characteristic-text{
    font-weight: 600;
}

.wifi{
    background-image: url(../images/wifi-icon.svg);
}

.lake{
    background-image: url(../images/lake-icon.svg);
}

.tv{
    background-image: url(../images/tv-icon.svg);
}

.air{
    background-image: url(../images/snowflake-icon.svg);
}

/* Reservations Section */

.reservations{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr;

}

/* Reservation Form */

.reservation-form{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    max-width: 350px;

    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.reservation-form label{
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--green);
}

input[type="date"]{
    width: 100%;
}

.reservation-form input{
    height: 30px;
    padding: 5px 10px;

    border: 1px solid black;
    border-radius: 15px;
    background-color: white;

    font-size: 1rem;
}

.checkin{
    flex-grow: 1;
    flex-basis: 150px;
}

.checkout{
    flex-grow: 1;
    flex-basis: 150px;
}

.guest-input{
    flex-grow: 3;
    flex-basis: 300px;

    padding: 5px 10px;
}

.submit-button{
    flex-grow: 3;
    flex-basis: 300px;

    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    padding: 10px 20px;

    
    background-color: var(--green);
    border: 1px solid black;
    border-radius: 16px;
}

/* Display Current Reservations */
.display-reservations{
    justify-self: end;
    grid-row: 1 / 3;
}

table{
    text-align: center;
}

caption{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--green);
}

th,
td{
   font-size: 1.2rem;
   padding: 1rem; 
}